{% extends 'main/stencil.html' %}
{% load static %}

{% block banner %}
    <section class="banner-top-v1 banner-blog  banner-checkout banner-about">
        <h3>Информация о СникерШаг</h3>
        <p>лучший интернет-магазин по продаже обуви</p>
    </section>
{% endblock %}

{% block body %}
    <section class="out-mission">
        <div class="container">
            <div class="row">
                <h3>наша миссия</h3>
                <div class="col-md-6">
                    <div class="prd-about">
                        <img class="img-responsive" src="{% static 'main/images/About_us/out_miss.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="item-text"><span>Добро пожаловать в мир SneakerShag, вашего надежного партнера в поиске идеальной обуви! Мы гордимся тем, что предоставляем вам доступ к самым модным и комфортным кроссовкам и кедам. Наш магазин - это место, где стиль встречается с функциональностью, и мы готовы поделиться с вами нашими ценностями и устроями.</span>
                    </div>
                    <div class="item-text"><span>Миссия SneakerShag - сделать вашу жизнь более комфортной и стильной, предлагая широкий выбор обуви, отвечающей самым современным требованиям. Мы стремимся к тому, чтобы каждый клиент, посещая наш магазин, мог найти обувь, которая подчеркивает его индивидуальность и позволяет чувствовать себя уверенно на каждом шагу.</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end/out -->
    <!--  blog -->
    <section class="blog blog_about_us">
        <div class="title-top">
            <h3>что делает нас особенными?</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="item-blog">
                        <div class="img-blog">
                            <img src="{% static 'main/images/About_us/service1.png' %}" alt="" class="img-responsive">
                        </div>
                        <div class="text-blog">
                            <a class="topic">Качество в каждой детали</a>
                            <p>Мы работаем только с проверенными производителями, чтобы предложить вам обувь высочайшего
                                качества. В СникерШаг мы не идем на компромиссы, когда речь идет о комфорте и
                                долговечности.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="item-blog">
                        <div class="img-blog">
                            <img src="{% static 'main/images/About_us/service2.png' %}" alt="" class="img-responsive">
                        </div>
                        <div class="text-blog">
                            <a class="topic">Модный стиль</a>
                            <p>Наша команда следит за последними трендами в мире обуви и предлагает вам самые стильные и
                                актуальные модели. Независимо от того, ищете ли вы спортивные кроссовки, повседневные
                                сникеры или обувь для особых случаев, у нас вы найдете именно то, что вам нужно.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="item-blog">
                        <div class="img-blog">
                            <img src="{% static 'main/images/About_us/service3.png' %}" alt="" class="img-responsive">
                        </div>
                        <div class="text-blog">
                            <a class="topic">Разнообразие</a>
                            <p>В СникерШаг мы понимаем, что у каждого покупателя свои предпочтения. Поэтому мы
                                предлагаем
                                широкий ассортимент обуви в разных стилях, размерах и цветах. У нас есть что-то для
                                каждого.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--  end/blog -->
    <section class="out_team">
        <div class="title-top">
            <h3>Мы заботимся о наших клиентах</h3>
            <p>СникерШаг - это больше, чем просто магазин обуви. Мы стремимся создать сообщество, в котором наши клиенты
                чувствуют себя как дома. Мы ценим вашу поддержку и готовы идти на дополнительные шаги, чтобы сделать
                вашу
                покупку приятным и удовлетворительным опытом.
                <br>
                <br>
                Спасибо, что выбрали СникерШаг. Мы надеемся, что вы найдете у нас идеальную обувь, которая будет
                сопровождать вас на вашем пути к стилю и комфорту.</p>
        </div>
    </section>
{% endblock %}