{% extends 'main/stencil.html' %}
{% load static %}

{% block title %}
    Корзина
{% endblock %}

{% block banner %}
    <section class="banner-top-v1 banner-blog banner-checkout">
        <h3>Корзина</h3>
    </section>
{% endblock %}

{% block body %}
    <section class="form-your-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <form class="cart-form" action="/cart" method="post" novalidate="">
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Цена</th>
                                    <th>Кол-во</th>
                                    <th>Итого</th>
                                    <th>Удаление</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for el in cart %}
                                    <tr>
                                        <td class="product-name">
                                            <div class="img-prd">
                                                <a href="product_id={{ el.item_id }}">
                                                    <img src="{{ el.image }}" alt="" style="width: 200px">
                                                </a>
                                            </div>
                                            <div class="prd-infor">
                                                <a href="product_id={{ el.item_id }}">{{ el.name }}</a>
                                                <p>Размер: {{ el.size }}</p>
                                            </div>
                                        </td>
                                        <td class="product-price">
                                            <p class="price"><span class="money">₽{{ el.price }}</span></p>
                                        </td>
                                        <td class="product-subtotal product-price">
                                            <p class="price"><span style="font-weight: 500; color: black">
                                            {{ el.quantity }}
                                            </span></p>
                                        </td>
                                        <td class="product-subtotal product-price">
                                            <p class="price"><span class="money-total">₽{{ el.price }}</span></p>
                                        </td>
                                        <td class="product-price">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <!--<span style=""></span>-->
                                                <div class="conti" style="margin-right: 25px">
                                                    <button name="deletebtn" value="{{ el.item_id }} {{ el.size }}">
                                                        Удалить
                                                    </button>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="coupon">
                        <label>ㅤ</label> <!--  невидимый символ для создания небольшого отступа на сайте -->
                        {% if amount %}
                            <h3 class="pull-right">Итого: ₽{{ amount }}</h3>
                        {% else %}
                            <h3 class="pull-right">Итого: ₽0</h3>
                        {% endif %}
                    </div>
                    <div class="conti">
                        <button onclick="document.location='/catalog'">Продолжить покупки</button>
                        <button onclick="document.location='/cart'">Обновить корзину</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-total-right">
                        <h3>Итоговая корзина</h3>
                        {% if amount %}
                            <span>Итого: ₽{{ amount }}</span>
                        {% else %}
                            <span>Итого: ₽0</span>
                        {% endif %}
                        <span>Доставка:</span>
                        <p>Стоимость доставки будет рассчитана после того, как вы укажете свой адрес</p>
                        {% if amount %}
                            <h3 style="margin-top: 26px; margin-bottom: 5px;border-bottom: 0;">Итого: ₽{{ amount }}</h3>
                        {% else %}
                            <h3 style="margin-top: 26px; margin-bottom: 5px;border-bottom: 0;">Итого: ₽0</h3>
                        {% endif %}
                        <button onclick="document.location='/chect_out'">Перейти к оформлению заказа</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}