{% extends 'main/stencil.html' %}
{% load static %}

{% block title %}
Корзина
{% endblock %}

{% block banner %}
    <section class="banner-top-v1 banner-blog banner-checkout">
        <h3>Корзина</h3>
    </section>
{% endblock %}

{% block body %}
    <section class="form-your-cart">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <form class="cart-form" action="/cart" method="post" novalidate="">
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                <tr>
                                    <th>Товар</th>
                                    <th>Цена</th>
                                    <th>Количество</th>
                                    <th>Итого</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="product-name">
                                        <div class="img-prd">
                                            <a href="#">
                                                <img src="{% static 'main/images/prd_your_cart.png' %}" alt="">
                                                <span class="pe-7s-close-circle"></span>
                                            </a>
                                        </div>
                                        <div class="prd-infor">
                                            <a href="#">One shoulder bow shop</a>
                                            <p>Size: L</p>
                                        </div>
                                    </td>
                                    <td class="product-price">
                                        <p class="price"><span class="money">₽80.00</span></p>
                                    </td>
                                    <td>
                                        <div class="quantity">
                                            <button type="button"
                                                    class="quantity-left-minus btn btn-number js-minus minus-cs"
                                                    data-type="minus" data-field="" style="top: 0;">
                                                <span class="minus-icon"><i class="ion-ios-plus-empty"></i></span>
                                            </button>
                                            <label>
                                                <input class="product_quantity_number js-number qty" name="number"
                                                       type="text" value="1">
                                            </label>
                                            <button type="button"
                                                    class="quantity-right-plus btn btn-number js-plus plus-cs"
                                                    data-type="plus" data-field="" style="top: 0;">
                                                <span class="plus-icon"><i class="ion-ios-minus-empty"></i></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="product-subtotal product-price">
                                        <p class="price"><span class="money-total">₽80.00</span></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-name">
                                        <div class="img-prd">
                                            <a href="#">
                                                <img src="{% static 'main/images/prd_your_cart1.png' %}" alt="">
                                                <span class="pe-7s-close-circle"></span>
                                            </a>
                                        </div>
                                        <div class="prd-infor">
                                            <a href="#">One shoulder bow shop</a>
                                            <p>Size: L</p>
                                        </div>
                                    </td>
                                    <td class="product-price">
                                        <p class="price"><span class="money">₽80.00</span></p>
                                    </td>
                                    <td>
                                        <div class="quantity">
                                            <button type="button"
                                                    class="quantity-left-minus btn btn-number js-minus minus-cs"
                                                    data-type="minus" data-field="" style="top: 0;">
                                                <span class="minus-icon"><i class="ion-ios-plus-empty"></i></span>
                                            </button>
                                            <label>
                                                <input class="product_quantity_number js-number qty" name="number"
                                                       type="text" value="1">
                                            </label>
                                            <button type="button"
                                                    class="quantity-right-plus btn btn-number js-plus plus-cs"
                                                    data-type="plus" data-field="" style="top: 0;">
                                                <span class="plus-icon"><i class="ion-ios-minus-empty"></i></span>
                                            </button>
                                        </div>
                                    </td>
                                    <td class="product-subtotal product-price">
                                        <p class="price"><span class="money-total">₽80.00</span></p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="coupon">
                        <label>ㅤ</label> <!--  невидимый символ для создания небольшого отступа на сайте -->
                        <h3 class="pull-right">Итого: £500</h3>
                    </div>
                    <div class="conti">
                        <button onclick="document.location='/catalog'">Продолжить покупки</button>
                        <button onclick="document.location='/your_cart'">Обновить корзину</button>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-total-right">
                        <h3>Итоговая корзина</h3>
                        <span>Итого: £500</span>
                        <span>Доставка: </span>
                        <p>Стоимость доставки будет рассчитана после того, как вы укажете свой адрес</p>
                        <h3 style="margin-top: 26px; margin-bottom: 5px;border-bottom: 0;">Итого: £500</h3>
                        <button onclick="document.location='/chect_out'">Перейти к оформлению заказа</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}