{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>СникерШаг</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GOOGLE FONT -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-codes.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-embedded.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-ie7-codes.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-ie7.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/styles_Ecommerce.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/jquery.fancybox.min.css' %}">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>

<body id="comming_soon_page">
<!-- header -->
<header class="header ">
    <div class="header-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 item-logo">
                    <a href="/"><img src="{% static 'main/images/logo.png' %}" width="112" height="63" alt=""></a>
                </div>
                <div class="col-md-6">
                    <div class="header-main">
                        <ul class="level1 level1_h1">
                            <li class="level11">
                                <a href="/">Главная</a>
                            </li>
                            <li class="level11">
                                <a href="/catalog">Каталог</a>
                            </li>
                            <li class="level11">
                                <a href="#">Информация</a>
                                <ul class="hover-blog">
                                    <li><a href="/about_us">О нас</a></li>
                                    <li><a href="/contact_us">Контакты</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 icon-header-right item-icon">
                    <ul>
                        <li class="hover-cart-user">
                            <a class="hover-icon-cart" href="/your_cart">
                                <span class="icon icon-ecommerce-basket"></span>
                                <p>2</p>
                            </a>
                            <div class="submenu mini-cart">
                                <h4 class="account">2 вещи</h4>
                                <div class="product">
                                    <div class="item clearfix">
                                        <div class="img-prd">
                                            <img class="img-responsive"
                                                 src="{% static 'main/images/product-bag1.png' %}" alt="">
                                        </div>
                                        <div class="title">
                                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                                            <div class="product-price"><p>₽3000</p></div>
                                        </div>
                                    </div>
                                    <div class="item clearfix">
                                        <div class="img-prd">
                                            <img class="img-responsive"
                                                 src="{% static 'main/images/product-bag2.png' %}" alt="">
                                        </div>
                                        <div class="title">
                                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                                            <div class="product-price"><p>₽3000</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-cart-total">
                                    <div class="list-money">
                                        <label>Цена:</label>
                                        <span class="money">₽6000</span>
                                    </div>
                                    <div class="list-money">
                                        <label>Доставка:</label>
                                        <span class="money">₽300</span>
                                    </div>
                                    <div class="list-money">
                                        <label>Итого:</label>
                                        <span class="money">₽6300</span>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a class="btn-checkout" href="/chect_out">Оплатить</a>
                                    <a class="btn-cart" href="/your_cart">Открыть</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end/header -->
<!-- comming -->
<section class="comming">
    <h3>Такой страницы не существует</h3>
</section>
<!-- end/comming -->
<!-- LOAD JQUERY -->
<script src="{% static 'main/js/jquery-1.12.4.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/slick.min.js' %}"></script>
<script src="{% static 'main/js/select.js' %}"></script>
<script src="{% static 'main/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap-slider.min.js' %}"></script>
<!-- Custom jQuery -->
<script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>