{% extends 'main/stencil.html' %}
{% load static %}

{% block body %}
    <section class="title-contact">
        <h3>связь с командой СникерШаг</h3>
        <p>Добро пожаловать в интернет-магазин обуви СникерШаг! Мы рады видеть вас здесь и готовы предоставить вам нашу
            лучшую обувь и высококачественное обслуживание. Мы ценим каждого нашего клиента и стремимся делать вашу
            покупку
            максимально комфортной.<br><br>
            Если у вас есть какие-либо вопросы, предложения или нужна помощь, не стесняйтесь связаться с нами. Мы всегда
            готовы помочь вам сделать правильный выбор и решить любые вопросы, связанные с нашими товарами и
            услугами.<br><br>
            Вы можете связаться с нами воспользоваашись этой формой:</p>
    </section>
    <!-- end/contact -->
    <!-- information -->
    <div class="textbox-information">
        <div class="container">
            <div class="row">
                <div class="col-md-6 clearfix">
                    <div class="information">
                        <ul>
                            <li><span class="pe-7s-map-marker"></span>
                                <p>ул. 8 Марта, д. 62/45, Екатеринбург,
                                    Свердловская обл., 620144</p>
                            </li>
                            <li><span class="pe-7s-call"></span>
                                <p>+7 (922) 345-67-89</p>
                            </li>
                            <li><span class="pe-7s-mail"></span>
                                <p>SneakerStep@mail.ru</p>
                            </li>
                            <li><span class="pe-7s-clock"></span>
                                <p>24 часа, Пн-Вс</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12 frm">
                        <div class="col-md-6 form-ip">
                            <label for="name"></label>
                            <input type="text" id="name" name="firstname" placeholder="Ваше имя">
                        </div>
                        <div class="col-md-6 form-ip">
                            <label for="email"></label>
                            <input type="text" id="email" name="email" placeholder="Ваша электронная почта">
                        </div>
                    </div>
                    <div class="col-md-12 frm-txt">
                        <label for="message"></label>
                        <textarea id="message" class="form-control" name="comment[body]"
                                  placeholder="Напишите ваше предложение"></textarea>
                    </div>
                    <div class="col-md-12" style="margin-top: 28px;">
                        <div class="btn-black" style="width: 170px;">
                            <span>Отправить сообщение</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
