{% extends 'main/stencil.html' %}
{% load static %}

{% block banner %}
    <section class="banner-top-v1 banner-blog  banner-checkout banner-about">
        <h3>связь с командой СникерШаг</h3>
    </section>
{% endblock %}

{% block body %}
    <section class="title-contact">
        <p>Добро пожаловать в интернет-магазин обуви СникерШаг! Мы рады видеть вас здесь и готовы предоставить вам нашу
            лучшую обувь и высококачественное обслуживание. Мы ценим каждого нашего клиента и стремимся делать вашу
            покупку
            максимально комфортной.<br><br>
            Если у вас есть какие-либо вопросы, предложения или нужна помощь, не стесняйтесь связаться с нами. Мы всегда
            готовы помочь вам сделать правильный выбор и решить любые вопросы, связанные с нашими товарами и
            услугами.<br><br>
            Вы можете связаться с нами воспользоваашись этой формой:</p>
    </section>
    <!-- end/contact -->
    <!-- information -->
    <div class="textbox-information">
        <div class="container">
            <div class="row">
                <div class="col-md-6 clearfix">
                    <div class="information">
                        <ul>
                            <li><span class="pe-7s-map-marker"></span>
                                <p>ул. 8 Марта, д. 62/45, Екатеринбург,
                                    Свердловская обл., 620144</p>
                            </li>
                            <li><span class="pe-7s-call"></span>
                                <p>+7 (922) 345-67-89</p>
                            </li>
                            <li><span class="pe-7s-mail"></span>
                                <p>SneakerStep@mail.ru</p>
                            </li>
                            <li><span class="pe-7s-clock"></span>
                                <p>24 часа, Пн-Вс</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="needs-validation" method="post">
                        {% csrf_token %}
                        <div class="col-md-12 frm">
                            <div class="col-md-6 form-ip">
                                {{ form.contact_name }}
                            </div>
                            <div class="col-md-6 form-ip">
                                {{ form.contact_email }}
                            </div>
                            <div class="col-md-12 frm-txt">
                                {{ form.contact_description }}
                            </div>
                            <div class="col-md-12" style="margin-top: 28px;">
                                <button class="button-57" role="button" type="submit">
                                    <span class="text">Отправить сообщение</span>
                                    <span>Большое спасибо!</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
