{% extends 'main/stencil.html' %}
{% load static %}

{% block body %}
    <!-- slideshow -->
    <section class="slideshow">
        <div class="container-fluid">
            <div class="js-slideshow">
                <div class="item">
                    <div class="img-sl">
                        <img class="img-responsive" src="{% static 'main/images/Home_01/slideshow1.png' %}" alt="">
                        <div class="title tt-center">
                            <!--<span class="style">#style2017</span>-->
                            <h3>новые поступления</h3>
                            <!--<p>It has roots in a piece of classical Latin literature from 45 BC.</p>-->
                            <button class="btnn" onclick="document.location='/catalog'">Посмотреть</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-sl">
                        <img class="img-responsive" src="{% static 'main/images/Home_01/slideshow2.png' %}" alt="">
                        <div class="title tt-center">
                            <!--<span class="style">#traveling</span>-->
                            <h3>популярные модели</h3>
                            <!--<p>It has roots in a piece of classical Latin literature from 45 BC.</p>-->
                            <button class="btnn" onclick="document.location='/catalog'">Посмотреть</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img-sl">
                        <img class="img-responsive" src="{% static 'main/images/Home_01/slideshow3.png' %}" alt="">
                        <div class="title tt-center">
                            <!--<span class="style">#menstyle</span>-->
                            <h3>нестареющая классика</h3>
                            <!--<p>It has roots in a piece of classical Latin literature from 45 BC.</p>-->
                            <button class="btnn" onclick="document.location='/catalog'">Посмотреть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end/slideshow -->
    <!-- banner_v1 -->
    <section class="banner_v1">
        <!--<span class="title">Welcome to <img src="{% static 'main/images/Home_01/logo-banner.png'%}" alt="" class="img-responsive"> fashion!</span>-->
        <span class="title">Добро пожаловать в СникерШаг</span>
        <div class="container">
            <div class="row">
                <div class="img-banner clearfix">
                    <div class="item item-l-r">
                        <div class="img-bn"><img src="{% static 'main/images/Home_01/Banner1_v1_Home1.png' %}" alt=""
                                                 class="img-responsive"></div>
                        <div class="title">
                            <button class="btnn" onclick="document.location='/catalog'">#кроссовки</button>
                        </div>
                    </div>
                    <div class="item item-center">
                        <div class="img-bn"><img src="{% static 'main/images/Home_01/Banner2_v1_Home1.png' %}" alt=""
                                                 class="img-responsive"></div>
                        <div class="title">
                            <h3>Шагай в стиле СникерШаг</h3>
                            <!--<p>выбирай лучшее у нас</p>-->
                            <span onclick="document.location='/catalog'">Посмотреть</span>
                        </div>
                    </div>
                    <div class="item item-l-r">
                        <div class="img-bn"><img src="{% static 'main/images/Home_01/Banner3_v1_Home1.png' %}" alt=""
                                                 class="img-responsive"></div>
                        <div class="title">
                            <button class="btnn" onclick="document.location='/catalog'">#кеды</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end/banner_v1 -->
    <!-- product -->
    <section class="product-tab-slide product-v1">
        <div class="title-top">
            <h3>каталог</h3>
            <p>СникерШаг – это магазин, зародившийся из страсти к модной обуви и уважения к комфорту. Впервые открыв
                свои
                двери в 2019 году, он быстро стал источником стильных и удобных кроссовок для тех, кто ценит такой стиль
                жизни. С годами мы не только приобрели лояльных клиентов, но и стали вашим надежным партнером в выборе
                идеальной обуви для каждого вашего шага.</p>
        </div>
        <div class="tab-content">
            <div class="container js-mobi-product">
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product1_home2.png' %}"
                                                 alt=""></a>
                            </div>
                            <!--<div class="product-lable">-->
                            <!--    <span>sale</span>-->
                            <!--</div>-->
                            <!--<div class="product-lable-new">-->
                            <!--    <span>sale</span>-->
                            <!--</div>-->
                            <!--<ul data-countdown="countdown_prd" data-date="2018-12-25-10-20-30" class="deals-coundown-prd">
                            </ul>-->
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                                <b>₽3000</b>
                                <!--<del>₽250</del>-->
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product2_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">Хуй))</a></h4>
                            <span class="prosuct-price">
                             <b>₽3000</b>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product3_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="product-lable-new">
                                <span>new</span>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                                <b>₽3000</b>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product4_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                              <b>₽3000</b>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product5_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                               <b>₽3000</b>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product6_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="product-lable-new">
                                <span>new</span>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                              <b>₽3000</b>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product7_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                                 <b>₽3000</b>

                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="item">
                        <div class="product">
                            <div class="img-product">
                                <a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_01/Product8_home1.png' %}"
                                                 alt=""></a>
                            </div>
                            <div class="icon-prd">
                                <div class="table-cell-center">
                                    <button type="submit" class="add-to-cart-btn btn">
                                        <span class="icon icon-ecommerce-basket"></span>
                                    </button>
                                </div>

                            </div>
                        </div>
                        <div class="title ">
                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                            <span class="prosuct-price">
                                <b>₽3000</b>

                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="workarea">
            <div class="position">
                <div class="svg-wrapper">
                    <div class="shape">
                        <div class="text">
                            <a href="/catalog">load more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end/product -->
    <!-- testimonial -->
    <div class="testimonial">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 offset-md-1 col-sm-12">
                    <div class="slider">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2 col-sm-12">
                                <div class="slider__show">
                                    <div class="item" data-name="Ивановичев Иван" data-position="#CEO"
                                         data-desc="&ldquo;В СникерШаге мы верим, что каждый ваш шаг должен быть
                                     комфортным и стильным. Наша обувь - это не просто аксессуар, это история вашей
                                     уверенности и самовыражения. Мы приглашаем вас выбирать обувь, которая подчеркивает
                                     вашу уникальность, заботится о вашем комфорте и говорит вам: Люби себя, выбирай
                                     качество, иди вперед с СникерШаг! Ведь каждый ваш шаг - это шаг к лучшей версии
                                     себя.&rdquo;">
                                        <img src="{% static 'main/images/Home_01/Testimonial1_home2.png' %}" alt="avt">
                                    </div>
                                    <div class="item" data-name="Ивановичев Иван" data-position="#CEO"
                                         data-desc="&ldquo;В СникерШаге мы верим, что каждый ваш шаг должен быть
                                     комфортным и стильным. Наша обувь - это не просто аксессуар, это история вашей
                                     уверенности и самовыражения. Мы приглашаем вас выбирать обувь, которая подчеркивает
                                     вашу уникальность, заботится о вашем комфорте и говорит вам: Люби себя, выбирай
                                     качество, иди вперед с СникерШаг! Ведь каждый ваш шаг - это шаг к лучшей версии
                                     себя.&rdquo;">
                                        <img src="{% static 'main/images/Home_01/Testimonial2_home2.png' %}" alt="avt">
                                    </div>
                                    <div class="item" data-name="Ивановичев Иван" data-position="#CEO"
                                         data-desc="&ldquo;В СникерШаге мы верим, что каждый ваш шаг должен быть
                                     комфортным и стильным. Наша обувь - это не просто аксессуар, это история вашей
                                     уверенности и самовыражения. Мы приглашаем вас выбирать обувь, которая подчеркивает
                                     вашу уникальность, заботится о вашем комфорте и говорит вам: Люби себя, выбирай
                                     качество, иди вперед с СникерШаг! Ведь каждый ваш шаг - это шаг к лучшей версии
                                     себя.&rdquo;">
                                        <img src="{% static 'main/images/Home_01/Testimonial3_home2.png' %}" alt="avt">
                                    </div>
                                    <div class="item" data-name="Ивановичев Иван" data-position="#CEO"
                                         data-desc="&ldquo;В СникерШаге мы верим, что каждый ваш шаг должен быть
                                     комфортным и стильным. Наша обувь - это не просто аксессуар, это история вашей
                                     уверенности и самовыражения. Мы приглашаем вас выбирать обувь, которая подчеркивает
                                     вашу уникальность, заботится о вашем комфорте и говорит вам: Люби себя, выбирай
                                     качество, иди вперед с СникерШаг! Ведь каждый ваш шаг - это шаг к лучшей версии
                                     себя.&rdquo;">
                                        <img src="{% static 'main/images/Home_01/Testimonial1_home2.png' %}" alt="avt">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider__meta">
                            <p class="desc"></p>
                            <p class="name"></p>
                            <p class="position"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2"></div>
            </div>
        </div>
    </div>
    <!-- end/testimonial -->
{% endblock %}

{% block footer %}
    <footer class="footerv1">
        <div class="content">
            <ul>
                <li><a href="/">Главаная</a></li>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/your_cart">Корзина</a></li>
                <li><a href="/about_us">О нас</a></li>
                <li><a href="/contact_us">Контакты</a></li>
            </ul>
            <div class="iconft">
                <a href="#"><i class="fa fa-vk"></i></a>
                <a href="#"><i class="fa fa-telegram"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
            <span>Горячая Линия: +7 (922) 345-67-89</span>
        </div>
    </footer>
{% endblock %}