{% extends 'main/stencil.html' %}
{% load static %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block banner %}
    <section class="banner-top-v1 banner-blog banner-checkout">
        <h3>Оформление заказа</h3>
    </section>
{% endblock %}

{% block body %}
    <section class="form-checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-details">
                    <div class="col-md-6">
                        <div class="">
                            <h3>детали заказа</h3>
                            <div class="col-md-6 item-ip">
                                <label for="firstname"></label>
                                <input type="text" id="firstname" name="firstname" placeholder="Имя">
                            </div>
                            <div class="col-md-6 item-ip">
                                <label for="lastname"></label>
                                <input type="text" id="lastname" name="lastname" placeholder="Фамилия">
                            </div>
                            <div class="col-md-12 item-ip">
                                <label for="City"></label>
                                <input type="text" id="City" name="City" placeholder="Город/Населенный пункт">
                            </div>
                            <div class="col-md-12 item-ip">
                                <label for="postcode"></label>
                                <input type="text" id="postcode" name="postcode" placeholder="Почтовый индекс">
                            </div>
                            <div class="col-md-12 item-ip">
                                <label for="stressaddress"></label>
                                <input type="text" id="stressaddress" name="stressaddress"
                                       placeholder="Адрес">
                            </div>
                            <div class="col-md-6 item-ip">
                                <label for="Phone"></label>
                                <input type="text" id="Phone" name="Phone" placeholder="Номер телефона">
                            </div>
                            <div class="col-md-6 item-ip">
                                <label for="Email"></label>
                                <input type="text" id="Email" name="Email" placeholder="Электронная почта">
                            </div>
                        </div>
                        <label>ㅤ</label> <!--  невидимый символ для создания небольшого отступа на сайте -->
                        <div class="method">
                            <h3>Способ оплаты</h3>
                            <p>Поставьте галочку напротив интересуещего вас способа оплаты</p>
                            <form><label>Оплата картой онлайн<input type="checkbox"></label></form>
                            <form><label>Оплата картой при получении<input type="checkbox"></label></form>
                            <form><label>Оплата наличными при получении<input type="checkbox"></label></form>
                        </div>
                        <form><label class="final_agree">Я прочитал и принимаю все правила и условия<input
                            type="checkbox"></label>
                        </form>
                        <div class="btn-pay">
                            <div class="btn-black" style="width: 170px">
                                <span onclick="document.location='/purchase'">
                                    Перейти к оплате
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 check-right">
                        <div class="order">
                            <h3>Ваш заказ</h3>
                            <table class="cart-table">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="#"><img src="{% static 'main/images/prd_check_out.png' %}" alt=""></a>
                                        <div class="prd-infor">
                                            <a href="#">One shoulder bow shop</a>
                                            <p>Size: L</p>
                                        </div>
                                    </td>
                                    <td><span>x1</span></td>
                                    <td>
                                        <p>₽250</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><img src="{% static 'main/images/prd_check_out1.png' %}" alt=""></a>
                                        <div class="prd-infor">
                                            <a href="#">One shoulder bow shop</a>
                                            <p>Size: L</p>
                                        </div>
                                    </td>
                                    <td><span>x1</span></td>
                                    <td>
                                        <p>₽250</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="comunication">
                            <div>
                                <b>Сумма заказа: </b>
                                <span> £500</span>
                            </div>
                            <div>
                                <b>Доставка: </b>
                                <p>Стоимость доставки будет рассчитана после того, как вы укажете свой адрес. Свяжитесь
                                    с
                                    нами, если вы
                                    нужна любая помощь.</p>
                            </div>
                            <div>
                                <b>Итого: </b>
                                <span> £500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}