{% extends 'main/stencil.html' %}
{% load static %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block banner %}
    <section class="banner-top-v1 banner-blog banner-checkout">
        <h3>Оформление заказа</h3>
    </section>
{% endblock %}

{% block body %}
    <section class="form-checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-details">
                    <div class="col-md-6">
                        <form class="needs-validation" method="post">
                            {% csrf_token %}
                            <h3>Детали заказа</h3>
                            {{ form.first_name }}
                            {{ form.last_name }}
                            {{ form.city }}
                            {{ form.post_index }}
                            {{ form.adres }}
                            {{ form.phone_number }}
                            {{ form.email }}
                            <h3>Способ оплаты</h3>
                            <p style="margin-left: 15px; ">Выберете один из нижепредложенных вариантов</p>
                            {% for radio in form.payment_method %}
                                <label for="{{ radio.id_for_label }}" class="rating-wrapper"
                                       style="margin: 10px 0 0 15px">
                                    {{ radio.choice_label }}
                                    {{ radio.tag }}
                                    <span class="radio-checkmark"></span>
                                </label>
                            {% endfor %}
                            <label class="final_agree" style="margin: 30px 0 0 15px; ">
                                Я прочитал и принимаю все правила и условия
                                <input type="checkbox" style="margin-left: -3px" required>
                            </label>
                            <div style="margin: 30px 0 -40px 17px">
                                <button class="button-57" role="button" type="submit">
                                    <span class="text">Перейти к оплате</span>
                                    <span>Отличный выбор!</span>
                                </button>
                            </div>
                            <style>
                                .button-57 {
                                    position: relative;
                                    overflow: hidden;
                                    border: 1px solid #18181a;
                                    color: #18181a;
                                    display: inline-block;
                                    font-size: 15px;
                                    line-height: 15px;
                                    padding: 18px 18px 17px;
                                    text-decoration: none;
                                    cursor: pointer;
                                    background: #fff;
                                    user-select: none;
                                    -webkit-user-select: none;
                                    touch-action: manipulation;
                                }

                                .button-57 span:first-child {
                                    position: relative;
                                    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
                                    z-index: 10;
                                }

                                .button-57 span:last-child {
                                    color: white;
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
                                    z-index: 100;
                                    opacity: 0;
                                    top: 50%;
                                    left: 50%;
                                    transform: translateY(225%) translateX(-50%);
                                    height: 14px;
                                    line-height: 13px;
                                }

                                .button-57:after {
                                    content: "";
                                    position: absolute;
                                    bottom: -50%;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    background-color: black;
                                    transform-origin: bottom center;
                                    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
                                    transform: skewY(9.3deg) scaleY(0);
                                    z-index: 50;
                                }

                                .button-57:hover:after {
                                    transform-origin: bottom center;
                                    transform: skewY(9.3deg) scaleY(2);
                                }

                                .button-57:hover span:last-child {
                                    transform: translateX(-50%) translateY(-100%);
                                    opacity: 1;
                                    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
                                }</style>
                        </form>
                    </div>
                    <div class="col-md-6 check-right">
                        <div class="order">
                            <h3>Ваш заказ</h3>
                            <table class="cart-table">
                                <tbody>
                                <tr>
                                    <td>
                                        <a href="#"><img src="{% static 'main/images/prd_check_out.png' %}" alt=""></a>
                                        <div class="prd-infor">
                                            <a href="#">One shoulder bow shop</a>
                                            <p>Size: L</p>
                                        </div>
                                    </td>
                                    <td><span>x1</span></td>
                                    <td>
                                        <p>₽250</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#"><img src="{% static 'main/images/prd_check_out1.png' %}" alt=""></a>
                                        <div class="prd-infor">
                                            <a href="#">One shoulder bow shop</a>
                                            <p>Size: L</p>
                                        </div>
                                    </td>
                                    <td><span>x1</span></td>
                                    <td>
                                        <p>₽250</p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="comunication">
                            <div>
                                <b>Сумма заказа: </b>
                                <span> £500</span>
                            </div>
                            <div>
                                <b>Доставка: </b>
                                <p>Стоимость доставки будет рассчитана после того, как вы укажете свой адрес. Свяжитесь
                                    с
                                    нами, если вы
                                    нужна любая помощь.</p>
                            </div>
                            <div>
                                <b>Итого: </b>
                                <span> £500</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}