{% extends 'main/stencil.html' %}
{% load static %}

{% block title %}
    Оформление заказа
{% endblock %}

{% block banner %}
    <section class="banner-top-v1 banner-blog banner-checkout">
        <h3>Оформление заказа</h3>
    </section>
{% endblock %}

{% block body %}
    <section class="form-checkout">
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-details">
                    <div class="col-md-6">
                        {% if error_form %}
                            <div class="alert alert-danger" role="alert"
                                 style="width: 97%; margin: -14px auto 30px auto">
                                {{ error_form }}
                            </div>
                        {% endif %}
                        <form class="needs-validation" method="POST">
                            {% csrf_token %}
                            <h3>Детали заказа</h3>
                            {{ form.first_name }}
                            {{ form.last_name }}
                            {{ form.city }}
                            {{ form.post_index }}
                            {{ form.adres }}
                            {{ form.phone_number }}
                            {{ form.email }}
                            <h3>Способ оплаты</h3>
                            <p style="margin-left: 15px; ">Выберете один из нижепредложенных вариантов</p>
                            {% for radio in form.payment_method %}
                                <label for="{{ radio.id_for_label }}" class="rating-wrapper"
                                       style="margin: 10px 0 0 15px">
                                    {{ radio.choice_label }}
                                    {{ radio.tag }}
                                    <span class="radio-checkmark"></span>
                                </label>
                            {% endfor %}
                            <label class="final_agree" style="margin: 30px 0 0 15px; ">
                                Я прочитал и принимаю все правила и условия
                                <input type="checkbox" style="margin-left: -3px" required>
                            </label>
                            <div style="margin: 30px 0 -40px 17px">
                                <button class="button-57" role="button" type="submit">
                                    <span class="text">Перейти к оплате</span>
                                    <span>Отличный выбор!</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6 check-right">
                        <div class="order">
                            <h3>Ваш заказ</h3>
                            <table class="cart-table">
                                <tbody>
                                {% if error_cart %}
                                    <div class="alert alert-danger" role="alert"
                                         style="width: 100%; margin: 0 auto 0 auto">
                                        {{ error_cart }}
                                    </div>
                                {% endif %}
                                {% for el in cart %}
                                    <tr>
                                        <td style="width: 200px">
                                            <a href="product_id={{ el.item_id }}">
                                                <img src="{{ el.image }}" alt="" style="width: 100%;margin-left: 10px">
                                            </a>
                                            <div class="prd-infor" style="width: 100%; text-align: center">
                                                <a href="product_id={{ el.item_id }}">{{ el.name }}</a>
                                                <p>Размер: {{ el.size }}</p>
                                            </div>
                                        </td>
                                        <td><span style="margin-left: 110px">x{{ el.quantity }}</span></td>
                                        <td><p style="margin: 130px 70px 0 0">₽{{ el.price }}</p></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="comunication">
                            <div>
                                <b>Сумма заказа: </b>
                                {% if amount %}
                                    <span> ₽{{ amount }}</span>
                                {% else %}
                                    <span> ₽0</span>
                                {% endif %}
                            </div>
                            <div>
                                <b>Доставка: </b>
                                <p>Стоимость доставки будет рассчитана после того, как вы укажете свой адрес. Свяжитесь
                                    с
                                    нами, если вы
                                    нужна любая помощь.</p>
                            </div>
                            <div>
                                <b>Итого: </b>
                                {% if amount %}
                                    <span> ₽{{ amount }}</span>
                                {% else %}
                                    <span> ₽0</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}