{% extends 'main/stencil.html' %}
{% load static %}

{% block banner %}
    <div class="banner-top">
        <div class="container">
            <ul>
                <li><a href="/catalog">Каталог /</a></li>
                <li><a href="#">** наименование товара ** </a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="quick-shop-v1 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-4 col-sm-12 col-xs-12 qs-right">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="slider-for-dt2">
                                <div class="item"><img class="img-responsive"
                                                       src="{% static 'main/images/Details_product2/product_details2.png' %}"
                                                       alt="">
                                </div>
                                <div class="item"><img class="img-responsive"
                                                       src="{% static 'main/images/Details_product2/product_details2.png' %}"
                                                       alt="">
                                </div>
                                <div class="item"><img class="img-responsive"
                                                       src="{% static 'main/images/Details_product2/product_details2.png' %}"
                                                       alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="slider-nav-dt2">
                                <div class="item"><img class="img-responsive"
                                                       src="{% static 'main/images/Details_product2/product_details2.png' %}"
                                                       alt="">
                                </div>
                                <div class="item"><img class="img-responsive"
                                                       src="{% static 'main/images/Details_product2/product_details2.png' %}"
                                                       alt="">
                                </div>
                                <div class="item"><img class="img-responsive"
                                                       src="{% static 'main/images/Details_product2/product_details2.png' %}"
                                                       alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8 col-sm-12 col-xs-12 scr-3">
                    <div class="quick-left">
                        <h3>** наименование товара **</h3>
                        <p class="pr-sku">ID: 1337</p>
                        <ul class="price price-detail-prd2">
                            <li>₽250</li>
                            <!--<li>-->
                            <!--    <del>₽3000</del>-->
                            <!--</li>-->
                        </ul>
                        <div class="side-product">
                            <h4>size: </h4>
                            <div class="group-size">
                                <ul>
                                    <li><a href="#">36</a></li>
                                    <li><a href="#">37</a></li>
                                    <li><a href="#">38</a></li>
                                    <li><a href="#">39</a></li>
                                    <li><a href="#">40</a></li>
                                    <li><a href="#">41</a></li>
                                    <li><a href="#">42</a></li>
                                    <li><a href="#">43</a></li>
                                    <li><a href="#">44</a></li>
                                    <li><a href="#">45</a></li>
                                </ul>
                                <!--<a href="#">Check your size</a>-->
                            </div>
                        </div>
                        <div class="side-product">
                            <h4>Кол-во: </h4>
                            <div class="quantity">
                                <button type="button" class="quantity-left-minus btn btn-number js-minus"
                                        data-type="minus"
                                        data-field="">
                                    <span class="minus-icon"><i class="ion-ios-plus-empty"></i></span>
                                </button>
                                <input class="product_quantity_number js-number" name="number" type="text" value="1">
                                <button type="button" class="quantity-right-plus btn btn-number js-plus"
                                        data-type="plus"
                                        data-field="">
                                    <span class="plus-icon"><i class="ion-ios-minus-empty"></i></span>
                                </button>
                            </div>
                        </div>
                        <div class="add-to-bag">
                            <button type="button" class="add">
                                <span class="icon icon-ecommerce-basket"></span>
                                <small class="line1"> </small>
                                <span style="right: -20%;">Добавить в корзину</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end/quick-shop-v1 -->
    <!-- tab-details-prd2 -->
    <div class="tab-details-prd2">
        <div class="container">
            <div class="tab-details">
                <div class="tab-ul">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#details" role="tab" data-toggle="tab" class="font-tab">Описание товара</a>
                        </li>
                        <li role="presentation">
                            <a href="#faqs" role="tab" data-toggle="tab" class="font-tab">Вопросы</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="details">
                        <span>Какая-то важная информация</span>
                        <p>Заголовок</p>
                        <span>Еще больше важной информации</span>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="faqs">
                        <span>Если у вас появились какие либо вопросы, вы можете задать их перейдя <a
                            href="/contact_us">по этой ссылке</a>.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end/tab-details-prd2 -->
    <label>ㅤ</label> <!--  невидимый символ для создания небольшого отступа на сайте -->
{% endblock %}