{% extends 'main/stencil.html' %}
{% load static %}

{% block banner %}
    <label style="margin-top: 5px">ㅤ</label> <!--  невидимый символ для создания небольшого отступа на сайте -->
    <div class="banner-top">
        <div class="container">
            <ul>
                <li><a href="/catalog">Каталог /</a></li>
                <li><a href="">{{ item.name }} </a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="quick-shop-v1 clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-4 col-sm-12 col-xs-12 qs-right">
                    <div class="row">
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="slider-for-dt2">
                                <div class="item">
                                    <img class="img-responsive" src="{{ item.main_image }}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="slider-nav-dt2">
                                <div class="item">
                                    <img class="img-responsive" src="{{ item.second_image }}" alt="">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" src="{{ item.third_image }}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-8 col-sm-12 col-xs-12 scr-3">
                    <div class="quick-left">
                        {% if error %}
                            <div class="alert alert-danger" role="alert"
                                 style="width: 100%; margin: -25px auto 30px auto">
                                {{ error }}
                            </div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success" role="alert"
                                 style="width: 100%; margin: -25px auto 30px auto">
                                {{ success }}
                            </div>
                        {% endif %}
                        <h3>{{ item.name }}</h3>
                        <p class="pr-sku">ID: {{ item.id }}</p>
                        <ul class="price price-detail-prd2">
                            <li>₽{{ item.price }}</li>
                        </ul>

                        <form method="POST" class="form-select form-select-sm" aria-label=".form-select-sm example">
                            {% csrf_token %}
                            <div class="side-product">
                                <h4>Размер: </h4>
                                {{ form }}
                            </div>
                            <div style="margin-top: 10px">
                                <a href="https://www.kupirazmer.ru/page/razmer">Как узнать свой размер?</a>
                            </div>
                            <div class="add-to-bag" style="margin-top: 55%">
                                <button class="add" role="button" type="submit">
                                    <span class="icon icon-ecommerce-basket"></span>
                                    <small class="line1"> </small>
                                    <span style="right: -20%;">Добавить в корзину</span>
                                </button>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end/quick-shop-v1 -->
    <!-- tab-details-prd2 -->
    <div class="tab-details-prd2">
        <div class="container">
            <div class="tab-details">
                <div class="tab-ul">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#details" role="tab" data-toggle="tab" class="font-tab">Описание товара</a>
                        </li>
                        <li role="presentation">
                            <a href="#faqs" role="tab" data-toggle="tab" class="font-tab">Вопросы</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane fade in active" id="details">
                        <span>{{ item.description }}</span>
                        <!--<p>Заголовок</p>-->
                        <!--<span>Еще больше важной информации</span>-->
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="faqs">
                        <span>Если у вас появились какие либо вопросы, вы можете задать их перейдя <a
                            href="/contact_us">по этой ссылке</a>.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end/tab-details-prd2 -->
    <label>ㅤ</label> <!--  невидимый символ для создания небольшого отступа на сайте -->
{% endblock %}
