{% extends 'main/stencil.html' %}
{% load static %}

{% block banner %}
    <section class="banner-top-v1 banner-blog  banner-checkout banner-about">
        <h3>Возврат товара</h3>
    </section>
{% endblock %}

{% block body %}
    <!-- contact -->
    <section class="title-contact">
        <p>Заполните следующую форму для оформления заявки на возврат:</p>
    </section>
    <!-- contact -->
    <!-- information -->
    <div class="textbox-information">
        <div class="container">
            <div class="row">
                <div class="col-md-10" style="margin: 0 117px">
                    <div class="col-md-10 frm" style="margin: 0 60px">
                        <div class="col-md-6 form-ip">
                            <label for="firstname"></label>
                            <input type="text" id="firstname" name="firstname" placeholder="Ваше имя">
                        </div>
                        <div class="col-md-6 form-ip">
                            <label for="secindname"></label>
                            <input type="text" id="secindname" name="secindname" placeholder="Ваша фамимлия">
                        </div>
                    </div>
                    <div class="col-md-10 frm" style="margin: 0 60px">
                        <div class="col-md-6 form-ip">
                            <label for="phone"></label>
                            <input type="text" id="phone" name="phone" placeholder="Ваш номер телефона">
                        </div>
                        <div class="col-md-6 form-ip">
                            <label for="email"></label>
                            <input type="text" id="email" name="email" placeholder="Ваша электронная почта">
                        </div>
                    </div>
                    <div class="col-md-10 frm-txt" style="margin: 0 60px">
                        <label for="message"></label>
                        <textarea id="message" class="form-control" name="comment[body]"
                                  placeholder="Причина возврата"></textarea>
                    </div>
                    <div class="col-md-12" style="margin: 28px 60px 0">
                        <div class="btn-black" style="width: 170px;">
                            <span>Отправить заявку</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end/information -->
{% endblock %}