{% extends 'main/stencil.html' %}
{% load static %}

{% block banner %}
    <!-- banner -->
    <section class="banner-top-v1 banner-blog">
        <h3>Шагай в стиле СникерШаг</h3>
    </section>
{% endblock %}

{% block body %}
    <!-- group-menu -->
    <section class="group-menu">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-7">
                    <div class="new">
                        <!--TODO неправильный размер окна выбора-->
                        <p>Сортировка:</p>
                        <select title="Pick a number" class="selectpicker">
                            <option>По популярности</option>
                            <option>По цене (по убыванию)</option>
                            <option>По цене (по врзрастанию)</option>
                            <option>По новизне</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5 ordering">
                    <ul style="float: right;" class="clearfix">
                        <li class="icon-right list">
                            <img class="img-ic" src="{% static 'main/images/list.png' %}" alt="">
                            <img class="act-img" src="{% static 'main/images/list_box_active.png' %}" alt="">
                        </li>
                        <li class="icon-right col active">
                            <img class="img-ic" src="{% static 'main/images/list_box.png' %}" alt="">
                            <img class="act-img" src="{% static 'main/images/list_active.png' %}" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- end/group-menu -->
    <!-- products -->
    <section class="products products-v1">
        <div class="container">
            <div class="row">
                {% for el in items %}
                    {% if forloop.counter < 9 %}
                        <div class="col-md-3 col-sm-6 col-xs-12 item">
                            <div class="img-product">
                                <a href="product_id={{ el.id }}">
                                    <img class="img-responsive" src="{{ el.main_image }}" alt="">
                                </a>
                                <div class="icon-prd">
                                    <div class="add-to-bag">
                                        <button type="button" class="add">
                                            <span class="icon icon-ecommerce-basket"></span>
                                            <small class="line1"> </small>
                                            <span class="txt-bag" style="right: -15%;">Добавить в корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="title">
                                <h4 class="product-name"><a href="product_id={{ el.id }}">{{ el.name }}</a></h4>
                                <span class="prosuct-price"><b>₽{{ el.price }}</b></span>
                                <span class="sk">ID: {{ el.id }}</span>
                                <p class="title-list">
                                    <span>Инофрмация о товаре</span>{{ el.description }}
                                </p>
                                <div class="icon-prd">
                                    <div class="add-to-bag">
                                        <button type="button" class="add">
                                            <span class="icon icon-ecommerce-basket"></span>
                                            <small class="line1"> </small>
                                            <span class="txt-bag" style="right: -15%;">Добавить в корзину</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- end/products -->
    <!-- pagination-prd -->
    <div class="pagination-prd">
        <div class="pagination-container">
            <nav class="pagination">
                <span class="prev"><a href="#" title=""><i class="fa fa-angle-left"></i></a></span>
                <!--TODO не работет переключение страниц-->
                <p>Страница: </p>
                <span class="page"><a href="#" title="">1</a></span>
                <span class="page"><a href="#" title="">2</a></span>
                <span class="next"><a href="#" title=""><i class="fa fa-angle-right"></i></a></span>
            </nav>
        </div>
    </div>
    <!-- end/pagination-prd -->
{% endblock %}