{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}СникерШаг{% endblock %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- GOOGLE FONT -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- CSS LIBRARY -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/slick.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/slick-theme.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/vendor/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-codes.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-embedded.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-ie7-codes.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello-ie7.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/fontello.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/Pe-icon-7-stroke.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/styles_Ecommerce.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/jquery.fancybox.min.css' %}">
    <!-- MAIN STYLE -->
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %}">
</head>

<body>
<!--   header -->
<header class="header ">
    <div class="header-top clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3 item-logo">
                    <a href="/"><img src="{% static 'main/images/logo.png' %}" width="112" height="63" alt=""></a>
                </div>
                <div class="col-md-6">
                    <div class="header-main">
                        <ul class="level1 level1_h1">
                            <li class="level11">
                                <a href="/">Главная</a>
                            </li>
                            <li class="level11">
                                <a href="/catalog">Каталог</a>
                            </li>
                            <li class="level11">
                                <a href="#">Информация</a>
                                <ul class="hover-blog">
                                    <li><a href="/about_us">О нас</a></li>
                                    <li><a href="/contact_us">Контакты</a></li>
                                    <li><a href="/refound">Возврат товара</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 icon-header-right item-icon">
                    <ul>
                        <li class="hover-cart-user">
                            <a class="hover-icon-cart" href="/your_cart">
                                <span class="icon icon-ecommerce-basket"></span>
                                <p>2</p>
                            </a>
                            <div class="submenu mini-cart">
                                <h4 class="account">2 вещи</h4>
                                <div class="product">
                                    <div class="item clearfix">
                                        <div class="img-prd">
                                            <img class="img-responsive"
                                                 src="{% static 'main/images/product-bag1.png' %}" alt="">
                                        </div>
                                        <div class="title">
                                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                                            <div class="product-price"><p>₽3000</p></div>
                                        </div>
                                    </div>
                                    <div class="item clearfix">
                                        <div class="img-prd">
                                            <img class="img-responsive"
                                                 src="{% static 'main/images/product-bag2.png' %}" alt="">
                                        </div>
                                        <div class="title">
                                            <h4 class="product-name"><a href="#">** наименование товара **</a></h4>
                                            <div class="product-price"><p>₽3000</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-cart-total">
                                    <div class="list-money">
                                        <label>Цена:</label>
                                        <span class="money">₽6000</span>
                                    </div>
                                    <div class="list-money">
                                        <label>Доставка:</label>
                                        <span class="money">₽300</span>
                                    </div>
                                    <div class="list-money">
                                        <label>Итого:</label>
                                        <span class="money">₽6300</span>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a class="btn-checkout" href="/chect_out">Оплатить</a>
                                    <a class="btn-cart" href="/your_cart">Открыть</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--   header -->

{% block banner %}
{% endblock %}

{% block body %}
{% endblock %}

{% block footer %}
    <footer class="footerv2">
        <div class="container ">
            <div class="row">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="instagram">
                        <h2>@instagram</h2>
                        <ul>
                            <li><a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_03/instagram1_ft_home3.png' %}"
                                                 alt=""></a></li>
                            <li><a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_03/instagram2_ft_home3.png' %}"
                                                 alt=""></a></li>
                            <li><a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_03/instagram3_ft_home3.png' %}"
                                                 alt=""></a></li>
                            <li><a href="#"><img class="img-responsive"
                                                 src="{% static 'main/images/Home_03/instagram4_ft_home3.png' %}"
                                                 alt=""></a></li>
                        </ul>
                        <ul class="coppy-right">
                            <li>© 2023 <strong>СникерШаг</strong> |</li>
                            <li>Все права защищены</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 ct">
                    <h2>Контакты</h2>
                    <ul>
                        <li><strong><span class="pe-7s-map-marker"></span></strong> ул. 8 Марта, д. 62/45, Екатеринбург,
                            Свердловская обл., 620144.
                        </li>
                        <li><strong><span class="pe-7s-call"></span></strong> +7 (922) 345-67-89</li>
                        <li><strong><span class="pe-7s-mail"></span></strong> SneakerStep@mail.ru</li>
                        <li><strong><span class="pe-7s-clock"></span></strong> 24 часа, Пн-Вс</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <h2>Наши услуги</h2>
                    <ul class="our-ser-pol">
                        <li><a href="/">Главаная</a></li>
                        <li><a href="/catalog">Каталог</a></li>
                        <li><a href="/your_cart">Корзина</a></li>
                        <li><a href="/about_us">О нас</a></li>
                        <li><a href="/contact_us">Контакты</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <h2>Соц. сети</h2>
                    <ul class="our-ser-pol">
                        <li><a href="#">ВКонтакте</a></li>
                        <li><a href="#">Telegram</a></li>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

<!-- LOAD JQUERY -->
<script src="{% static 'main/js/jquery-1.12.4.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDyCxHyc8z9gMA5IlipXpt0c33Ajzqix4"></script>
<script src="{% static 'main/js/bootstrap.min.js' %}"></script>
<script src="{% static 'main/js/slick.min.js' %}"></script>
<script src="{% static 'main/js/select.js' %}"></script>
<script src="{% static 'main/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'main/js/bootstrap-slider.min.js' %}"></script>
<!-- Custom jQuery -->
<script src="{% static 'main/js/main.js' %}"></script>
</body>

</html>